<a href="https://colab.research.google.com/github/sigma-wbi/Section_1_Project/blob/main/Section_1_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project1
# **Part 1. Data Cleaning**

In [212]:
import numpy as np
import pandas as pd
import sympy as sp
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.misc import derivative
from pandas.api.types import CategoricalDtype
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [213]:
from google.colab import files
uploaded = files.upload()

Saving vgames2.csv to vgames2 (6).csv

In [214]:
df = pd.read_csv('vgames2.csv')
df

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...,...
16593,16594,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16594,16595,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16595,16596,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16596,16597,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16597,16598,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [215]:
df.drop(['Unnamed: 0'],axis = 1,inplace = True)
df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...
16593,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16594,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16595,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16596,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16597,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [216]:
# 데이터셋의 결측값이나 데이터타입 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16598 non-null  object
 1   Platform     16598 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16548 non-null  object
 4   Publisher    16540 non-null  object
 5   NA_Sales     16598 non-null  object
 6   EU_Sales     16598 non-null  object
 7   JP_Sales     16598 non-null  object
 8   Other_Sales  16598 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.1+ MB

In [217]:
# 중복값 확인, 제거
df.drop_duplicates(inplace = True)
df.reset_index(inplace = True)
df.drop(['index'],axis = 1,inplace = True)
#df.drop(['level_0'],axis = 1,inplace = True)
df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...
16592,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16593,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16594,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16595,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16596,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

`data cleaning 필요`
1. Year, Genre, Publisher 에 결측값이 존재 -> 전체 삭제할 것인지 매꿔서 사용할 수 있는 데이터인지 파악</br>
2. Year의 데이터 타입을 int로 , 판매량들의 데이터 타입을 float로 바꿔야 이후 수치적 연산에 적용가능

In [218]:
# 결측치 제거
df.dropna(axis=0,inplace = True)
df.reset_index(inplace = True)
df.drop(['index'],axis = 1,inplace = True)
df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...
16236,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16237,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16238,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16239,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16240,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

`문제 발생:`
판매량들을 소수로 타입변경하려 했더니 변경이 안된다 </br>
- 확인해보니 K(thousand) M(million) 같은 문자열 값이 일부 포함되어있음  
- K,M이 적히지 않고 숫자만 있는경우는 M이 생략된것으로 예상됨 
- 1K = 0.001M
- M은 없애고, K는 없앤뒤 M으로 단위통일 필요 (나누기 1000)

In [219]:
if_M = (df['NA_Sales'].str.contains('M')==True) | (df['EU_Sales'].str.contains('M')==True) | (df['JP_Sales'].str.contains('M')==True) | (df['Other_Sales'].str.contains('M')==True)
a = df[if_M]
a

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
10,Ford Racing,PS,2001.0,Racing,Empire Interactive,480K,0.33M,0K,0.06
35,Advance Wars: Dual Strike,DS,2005.0,Strategy,Nintendo,0.3,0.03M,0.04,0.03
62,SD Gundam Force,GBA,2004.0,Shooter,Namco Bandai Games,0.01,0,0,0M
71,Teenage Mutant Ninja Turtles,XB,2003.0,Action,Konami Digital Entertainment,0.22,0.06,0,0.01M
173,Max Payne,GBA,2003.0,Shooter,Take-Two Interactive,0.02,0.01M,0,0
...,...,...,...,...,...,...,...,...,...
16060,Yu-Gi-Oh! Ultimate Masters: World Championship...,GBA,2006.0,Misc,Konami Digital Entertainment,0.14,0.05,0.07,0.01M
16127,Super Robot Taisen F Kanketsuhen,SAT,98.0,Strategy,Banpresto,0M,0,0.55,0
16144,Shin Chan: Las Nuevas Aventuras Para Wii!,Wii,2006.0,Action,505 Games,0,0,0.07M,0
16215,Koihime Enbu,PS4,2016.0,Fighting,Yeti,0,0M,0.02,0
16224,Captain Morgane and the Golden Turtle,DS,2012.0,Adventure,Reef Entertainment,0,0.03,0M,0

In [220]:
# M을 공백으로 대체
df["NA_Sales"] = df["NA_Sales"].str.replace(pat=r'[M]', repl=r'', regex=True)
df["EU_Sales"] = df["EU_Sales"].str.replace(pat=r'[M]', repl=r'', regex=True)
df["JP_Sales"] = df["JP_Sales"].str.replace(pat=r'[M]', repl=r'', regex=True)
df["Other_Sales"] = df["Other_Sales"].str.replace(pat=r'[M]', repl=r'', regex=True)

In [221]:
if_K = (df['NA_Sales'].str.contains('K')==True) | (df['EU_Sales'].str.contains('K')==True) | (df['JP_Sales'].str.contains('K')==True) | (df['Other_Sales'].str.contains('K')==True)
b = df[if_K]
b

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
10,Ford Racing,PS,2001.0,Racing,Empire Interactive,480K,0.33,0K,0.06
44,Resident Evil: Revelations 2,PS3,2015.0,Action,Capcom,60K,0.08,0.16,0.03
87,Bugs Bunny: Lost in Time,PS,1999.0,Platform,Infogrames,0.22,0.15,0K,0.03
88,Tom Clancy's Ghost Recon: Predator,PSP,2010.0,Shooter,Ubisoft,0.07,0.02,0K,0.02
125,Rozen Maiden: Gebetgarten,PS2,2007.0,Fighting,Taito,0,0K,0.01,0
...,...,...,...,...,...,...,...,...,...
16121,NBA Ballers: Chosen One,PS3,2008.0,Sports,Midway Games,0.12,0,0K,0.01
16137,Mortal Kombat,PSV,2012.0,Fighting,Warner Bros. Interactive Entertainment,470K,0.18,0,0.12
16170,Planet Monsters,GBA,2001.0,Action,Titus,0.01,0K,0,0
16222,Gex: Enter the Gecko,PS,1998.0,Platform,BMG Interactive Entertainment,320K,0.22,0,0.04
16234,Madden NFL 2005,PS2,2004.0,Sports,Electronic Arts,4.18,0.26,0.01,80K

In [222]:
dfk = df.copy()   #혹시 작업과정에서 원본데이터 손실을 방지하기위해 데이터프레임 카피
index1 = dfk.index[dfk['NA_Sales'].str.contains('K')==True]
index1

Int64Index([   10,    44,   142,   866,  1071,  1338,  1435,  1454,  1808,
             1889,  1930,  2621,  2871,  3200,  3265,  3429,  4379,  4873,
             4927,  5171,  5183,  5220,  5647,  5931,  5962,  5991,  6025,
             6027,  6076,  6408,  6457,  6555,  6788,  6880,  6906,  6966,
             7046,  7255,  7287,  7724,  7973,  8028,  8074,  8077,  8408,
             8515,  8667,  8696,  8842,  9075,  9254,  9273,  9382,  9602,
             9640, 10151, 10152, 10334, 10608, 11327, 11744, 11748, 11858,
            11907, 11988, 12076, 12151, 12256, 12479, 12605, 12783, 13060,
            13271, 13504, 13590, 13635, 13874, 14039, 14101, 14136, 14316,
            14443, 14763, 14781, 14785, 15008, 15093, 15258, 15283, 15308,
            15846, 15978, 16137, 16222],
           dtype='int64')

In [223]:
#K가 포함되어있는 행의 인덱스들을 변수에 저장
index2 = dfk.index[dfk['EU_Sales'].str.contains('K')==True]
index3 = dfk.index[dfk['JP_Sales'].str.contains('K')==True]
index4 = dfk.index[dfk['Other_Sales'].str.contains('K')==True]
index4

Int64Index([  242,   275,   393,   633,   862,  1197,  1259,  1541,  1558,
             1622,  1771,  2099,  2419,  2424,  2693,  2850,  3104,  3290,
             3413,  3458,  3643,  4364,  4495,  4808,  4912,  4945,  5084,
             5112,  5260,  5366,  5385,  5446,  5468,  5672,  5711,  5779,
             5919,  6087,  6219,  6311,  6372,  6395,  6480,  6611,  6880,
             7017,  7044,  7171,  7326,  7346,  7551,  7552,  7900,  7990,
             8164,  8527,  8912,  8977,  9013,  9062,  9388,  9456,  9683,
             9715,  9933,  9994,  9999, 10277, 10370, 10850, 10928, 11400,
            11630, 11718, 11732, 12042, 12081, 12155, 12666, 13349, 13437,
            13823, 13900, 13961, 14092, 14129, 14199, 14310, 14356, 14479,
            14719, 15228, 15360, 15379, 15795, 16036, 16234],
           dtype='int64')

In [224]:
# K를 공백으로 대체
dfk["NA_Sales"] = dfk["NA_Sales"].str.replace(pat=r'[K]', repl=r'', regex=True)
dfk["EU_Sales"] = dfk["EU_Sales"].str.replace(pat=r'[K]', repl=r'', regex=True)
dfk["JP_Sales"] = dfk["JP_Sales"].str.replace(pat=r'[K]', repl=r'', regex=True)
dfk["Other_Sales"] = dfk["Other_Sales"].str.replace(pat=r'[K]', repl=r'', regex=True)

In [225]:
dfk = dfk.astype({'Year':'int'})
dfk = dfk.astype({'NA_Sales':'float', 'EU_Sales':'float','JP_Sales':'float','Other_Sales':'float'})
dfk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16241 entries, 0 to 16240
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16241 non-null  object
 1   Platform     16241 non-null  object
 2   Year         16241 non-null  int64
 3   Genre        16241 non-null  object
 4   Publisher    16241 non-null  object
 5   NA_Sales     16241 non-null  float64
 6   EU_Sales     16241 non-null  float64
 7   JP_Sales     16241 non-null  float64
 8   Other_Sales  16241 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 1.1+ MB

In [226]:
# K가 있었던 인덱스들에 대하여 나누기 1000 -> 수치를 M으로 통일
dfk['NA_Sales'].iloc[index1] = dfk['NA_Sales'].iloc[index1].apply(lambda x : x/1000)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [227]:
dfk['EU_Sales'].iloc[index2] = dfk['EU_Sales'].iloc[index2].apply(lambda x : x/1000)
dfk['JP_Sales'].iloc[index3] = dfk['JP_Sales'].iloc[index3].apply(lambda x : x/1000)
dfk['Other_Sales'].iloc[index4] = dfk['Other_Sales'].iloc[index4].apply(lambda x : x/1000)

In [231]:
df_clean = dfk
df_clean

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008,Action,Destineer,0.04,0.00,0.00,0.00
1,The Munchables,Wii,2009,Action,Namco Bandai Games,0.17,0.00,0.00,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,0.00,0.00,0.02,0.00
3,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,0.04,0.00,0.00,0.00
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,0.12,0.09,0.00,0.04
...,...,...,...,...,...,...,...,...,...
16236,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,0.15,0.04,0.00,0.01
16237,Rainbow Islands: Revolution,PSP,2005,Action,Rising Star Games,0.01,0.00,0.00,0.00
16238,NBA 2K16,PS3,2015,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16239,Toukiden: The Age of Demons,PSV,2013,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16240,The King of Fighters '95,PS,1996,Fighting,Sony Computer Entertainment,0.00,0.00,0.16,0.01

`데이터 전처리 결과`
*   중복값 제거 완료
*   결측치 제거 완료
*   Year 컬럼 int로 타입 변경 완료
*   Sales 컬럼들 K,M 문자열 제거, K -> M 으로 단위 맞춤 완료

In [233]:
df_clean['Platform'].value_counts()

DS      2127
PS2     2121
PS3     1299
Wii     1284
X360    1231
PSP     1193
PS      1185
PC       935
XB       799
GBA      784
GC       541
3DS      498
PSV      409
PS4      335
N64      313
SNES     239
XOne     212
SAT      173
WiiU     143
2600     115
NES       98
GB        97
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
GG         1
PCFX       1
Name: Platform, dtype: int64

In [234]:
df_clean['Publisher'].value_counts()

Electronic Arts                 1332
Activision                       963
Namco Bandai Games               924
Ubisoft                          913
Konami Digital Entertainment     821
                                ...
Marvelous Games                    1
Panther Software                   1
Playmore                           1
mixi, Inc                          1
Mystique                           1
Name: Publisher, Length: 575, dtype: int64

In [235]:
df_clean['Genre'].value_counts()

Action          3240
Sports          2299
Misc            1681
Role-Playing    1465
Shooter         1280
Adventure       1268
Racing          1219
Platform         873
Simulation       846
Fighting         835
Strategy         669
Puzzle           566
Name: Genre, dtype: int64